{% set section = include_dict.section %}
{% set padding_top = section.padding_top | default('medium', true) %}
{% set padding_bottom = section.padding_bottom | default('medium', true) %}
{% set align_x = section.align | default('left', true) %}
{% set bg_color = section.background_color | default('none', true) %}
{% set has_text = false %}
{% if section.title or section.subtitle or section.actions %}
	{% set has_text = true %}
{% endif %}
{% set has_image = false %}
{% if section.image %}
	{% set has_image = true %}
{% endif %}
{% set image_pos = section.image_position | default('left', true) %}

<section {{ classNames('section', 'hero', {
	'bg-blue': bg_color == 'blue',
	'bg-gray': bg_color == 'gray',
	'pt-4': padding_top == 'small',
	'pt-6': padding_top == 'medium' or padding_top == 'large',
	'pt-md-8': padding_top == 'large',
	'pb-4': padding_bottom == 'small',
	'pb-6': padding_bottom == 'medium' or padding_bottom == 'large',
	'pb-md-8': padding_bottom == 'large'
}) }}>

	<div class="container">
		<div class="hero__content grid items-center">
			{% if has_image %}
			<div {{ classNames('hero__image', 'text-center', 'cell-12', {
				'cell-md-6': has_text,
				'mb-4': has_text,
				'mb-md-0': has_text
			}) }}>
				<img src="{{ section.image | relative_url }}" alt="{{ section.image_alt }}" />
			</div>
			{% endif %}

			{% if has_text %}
			<div {{ classNames('hero__body', 'cell-12', {
				'cell-md-6': has_image,
				'order-md-first': has_image and image_pos == 'right',
				'text-center': align_x == 'center'
			}) }}>
				{% if section.title %}
				<h1 class="hero__title mb-3">{{ section.title }}</h1>
				{% endif %}
				{% if section.subtitle %}
				<div {{ classNames('hero__subtitle', 'mb-3', {
					'mt-3': section.title
				}) }}>{{ section.subtitle }}</div>
				{% endif %}
				{% if section.actions %}
				<div {{ classNames('hero__actions', 'btn-group', {
					'justify-center': align_x == 'center',
					'mt-4': section.title or section.subtitle
				}) }}>
					{% set include_dict = {'actions': section.actions} %}
					{% include "section_actions.html" %}
				</div>
				{% endif %}
			</div>
			{% endif %}

		</div>
	</div>
</section>